

.pic{
   margin:0;
   padding-top:70px;
    display:flex;
    background: #000; 
    

}
p{
    font-size: 10px;
    line-height: 9px;
    background-image: url("media/nandu2.png");
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color:rgba(255,255,255,0);
}

.text
{
    height: 1000px;
    width:100%;
   display: flex;
   padding-top: 100px;
   background: #000;
   align-items:center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    float:right;
   
}
 h2{
padding-top: 300px;
position: relative;
font-size: 100px;
letter-spacing: 15px;
color:#0e3742;
text-transform:uppercase;
width:100%;
text-align:center;
-webkit-box-reflect:below 1px linear-gradient(transparent,#0008);
line-height:0.90em;
outline:none;
animation:animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color:#fff;
        text-shadow: 0 0 10px #03bcf4,
         0 0 20px #03bcf4,
         0 0 40px #03bcf4,
         0 0 80px #03bcf4,
         0 0 160px #03bcf4;
    }
}
