
body{
    margin:0;
    padding-left: 400px;
    padding-top: 320px;
    align-items: center;
    justify-content:center;
    height: 100vh;
     display:flex;
     background:#000;    
     font-family:sans-serif; 
 }
 p{
     font-size: 10px;
     line-height: 10px;
     background: url("media/nandu2.png");
     background-repeat: no-repeat;
     background-clip: text;
     -webkit-text-fill-color:rgba(255,255,255,0);
 }
 
 